body {
    font-family: 'Arial', sans-serif;
  }
  
  .hide {
    display: none;
  }
  
  #start-screen, #end-screen {
    text-align: center;
    margin-top: 50px;
  }
  
  #quiz {
    max-width: 600px;
    margin: 50px auto;
  }
  
  #choices-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #submit-btn, #submit-score {
    margin-top: 10px;
  }
  
  #timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #view-scores-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  


