body {
    font-family: 'Arial', sans-serif;
  }
  
  .hide {
    display: none;
  }
  
  #start-screen, #end-screen {
    text-align: center;
    margin-top: 50px;
  }
  
  #quiz {
    max-width: 600px;
    margin: 50px auto;
  }
  
  #choices-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #submit-btn, #submit-score {
    margin-top: 10px;
  }
  


